/*Full page styling*/
*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", SansSerif;
}


html{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: linear-gradient(to bottom right, #3d6d79 30%, #d69d66 90%);
    display:flex;
    align-items: center;
    flex-direction: column;
}

/*Main content box*/
.heading{
    margin-top: 5%;
    text-align: center;
}

.heading h1{
    font-weight: normal;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    margin-top: 5%;
    background-color: rgba(255,255,255,85%);
    border-radius: 2%;
    padding-bottom: 2%;
}

.top-beam {
    display: inline-flex;
    justify-content: space-between;
    background-color: papayawhip;
    height: auto;
    width: 100%;
}

.front-page-middle{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 80%
}

/*Form related styling*/
.front-page-form{
    height: auto;
    text-align: left;
}

.form{
    width:70%;
    align-items: center;
}

input{
    width:100%;
    margin-bottom: 4%;
    padding: 5px;
    border-radius: 10px;
}

#userName{
    padding-bottom: 2%;
}

#email{
    padding-bottom: 2%;
}

#email2{
    padding-bottom: 2%;
}

#email3{
    padding-bottom: 2%;
}

#name{
    padding-bottom: 2%;
}

#passWord{
    padding-bottom: 2%;
}

#wishlistID{
    padding-bottom: 2%;
}

a{
    color: black;
    line-height: 1.6;

}

.center{
    text-align: center;
    padding-top: 5%;
}

.userOptions{
    font-size: 25px;
}

input[type=submit]{
    width: 30%;
    float:right;
}

.uWish{
    padding-bottom: 10%;
}

.default-background{
    background-color: rgba(255,255,255,85%);
}

.keep-right{
    display: flex;
    margin-right: 7%;
    margin-top: 1%;
    justify-content: left;
}

.keep-left{
    display: flex;
    justify-content: left;
}