<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" th:href="@{mainStyle.css}" href="../static/mainStyle.css">
</head>
<body>
<div class="content">
    <div class="heading">
        <h1>Log in</h1>
        <div th:replace="fragments/generalFooter.html :: footer"></div>
    </div>
    <div class="form">
        <form method="POST" action="/logOn">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="passWord">Password</label>
            <input type="text" id="passWord" name="password">
            <input type="submit" value="Log in">
        </form>
    </div>
    </div>
</div>
</body>
</html>

