<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete wish</title>
    <link rel="stylesheet" th:href="@{mainStyle.css}" href="../static/mainStyle.css">
</head>
<body>
<div class="content">
    <div class="heading">
        <h1>Delete a wish</h1>
    </div>

    <div class="form">
        <form method="POST" action="/removeWish">
            <label for="wishID">Insert your wish ID</label>
            <input type="text" id="wishID" name="wishID">
            <input type="submit" value="Delete">
        </form>
    </div>
</div>
</body>
</html>