<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" th:href="@{mainStyle.css}" href="../static/mainStyle.css">
</head>
<body>
<div class="content">
    <div class="heading">
        <h1>Sign up</h1>
    </div>

    <div class="form">
        <form method="POST" action="/test">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="passWord">Password</label>
            <input type="text" id="passWord" name="password">
            <input type="submit" value="Sign up">
            <p> Already a member?
                <a href="logIn.html"> Log in </a>
            </p>
        </form>
    </div>

</div>
</body>
</html>