<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" th:href="@{mainStyle.css}" href="../static/mainStyle.css">
</head>
<body>
<div class="content">
    <div class="heading">
        <h1>Update User Information</h1>
    </div>

    <div class="form">
        <form method="POST" action="/updateUserName">
            <label for="email">Insert your email</label>
            <input type="text" id="email" name="email">
            <label for="name">Insert new user name</label>
            <input type="text" id="name" name="name">
            <input type="submit" value="Update name">
        </form>
        <form method="POST" action="/updateUserPassword">
            <label for="email2">Insert your email</label>
            <input type="text" id="email2" name="email2">
            <label for="passWord">Insert new password</label>
            <input type="text" id="passWord" name="password">
            <input type="submit" value="Update password">
        </form>
        <form method="POST" action="/deleteUser">
            <label for="email3">Insert your email</label>
            <input type="text" id="email3" name="email3">
            <input type="submit" value="Delete User">
        </form>
    </div>

</div>
</body>
</html>