<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user options</title>
    <link rel="stylesheet" th:href="@{mainStyle.css}" href="../static/mainStyle.css">
</head>
<body>
<div class="content">
    <div class="heading">
        <h1>User Options</h1>
    </div>
    <div class="center">
        <div class = userOptions>
            <a href="createWishlist"> Create wishlist </a>
        </div>
        <div class = userOptions>
            <a href="deleteWishlist"> Delete wishlist </a>
        </div>
        <div class = userOptions>
            <a href="viewWishlist"> View wishlist </a>
        </div>
        <div class = userOptions>
            <a href="updateWishList"> Edit wishlist name </a>
        </div>
        <div class = userOptions>
            <a href="addWish"> Add wish to wishlist </a>
        </div>
        <div class = userOptions>
            <a href="editWish"> Edit wish in wishlist </a>
        </div>
        <div class = userOptions>
            <a href="removeWish"> Remove wish from wishlist </a>
        </div>
        <div class = userOptions>
            <a href="logIn"> Log out </a>
        </div>
    </div>
</div>
</body>
</html>