<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View wishlist</title>
    <link rel="stylesheet" th:href="@{mainStyle.css}" href="../static/mainStyle.css">
</head>
<body>
<div class="content">
    <div class="heading">
        <h1>View your Wish Lists</h1>
    </div>
    <div class="center">
        <h3>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <input type="submit" th:value="view">
        </h3>
        <p th:each="email : ${singleWishlist}">
            <span th:text="${email}"></span>
        </p>

    </div>
</div>
</body>
</html>